/* Jeffrey Phelps 2018 jQuery-based ToDo List App */

html, body {
    height: 100%;
    margin: 0;
}

h4 {
    margin-left: 20px;
}

canvas {
    width: 100%;
    height: 100%;
    background-color: black;
}